*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Cairo', sans-serif ,'Oswald', sans-serif;
    font-weight: 400;
    direction: rtl;
    background-color: #FAFAFA;
}

ul
{
    list-style: none;
    margin: 0;
    padding-right: 0;
}

a
{
    text-decoration: none !important
}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

/*Start footer-Top*/

.footer-top
{   
    padding:20px 0;
    background-color: #232F3E;
}

.header-links-one 
{
    text-align:left;
}

.header-links-one li , .footer-top .header-links li
{
    display: inline-block;
}

.header-links-one a
{
    color:#fff;
    margin-left: 20px;
    font-size: 18px;
}

.header-links 
{
    text-align: right;
}

.footer-top .header-links li:nth-child(3)
{
    margin-left: 6px;
}

.footer-top .header-links li:nth-child(5)
{
    margin-right: 6px;
}

.footer-top .header-links li a
{
    color:#fff;
    font-size: 14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer-top .header-links a:hover
,.header-links-one a:hover
,.footer-top .header-links a i:hover
{
    color: #a9a9a9;
}

.footer-top .header-links li a i
{
    margin-left: 9px;
    color:#FFF;
}

.footer-top .header-links span
{
    color:#fff
}

.footer-top .header-links .fa-search 
{
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px !important;
    margin-left: 5px;
}

.footer-top .header-links input[type="search"]
{
    background-color: transparent;
    color: #FFFF;
    padding: 0 5px;
    outline: 0;
    margin-left: 15px;
    width: 44%;
    font-size: 14px;
    position: relative;
    top: -1px;
    border: 0;
    border-bottom: 1px solid #FFF;
}

.footer-top .header-links input[type="search"]::placeholder
{
    color: #FFF;
}

@media (max-width: 991.98px) 
{   
    .footer-top .header-links-one li ,.footer-top .header-links li ,.footer-top .header-links span
    {
        visibility: hidden
    }

    .footer-top .header-links input[type="search"]
    {
        width: 100% !important;
    }     
}

/*End footer-Top*/

/*Start header*/
header
{
    background-color: var(--white-color);
    padding:30px 0;
}

header .img-me
{
    width: 30%;
    height:90%;
    margin: auto;
}

header .img-me img
{
    width: 100%;
    height:100%;
}

header .box1 ,header .box2
{
    visibility: hidden
}

header .box1 a ,header .box2 a
{
    color: #FFF;
    font-size: 20px;
    margin-left: 2px;
}

@media (max-width: 576px) 
{
    header .img-me {width: 70%;}
    
}

@media (max-width: 991.98px) 
{
    header .box1 ,header .box2 {visibility: visible}
}

/*End header*/

/*Start navbar*/

nav
{
    background: #E8EBEE;
    text-align: center;
}

nav .main-nav li
{
    display: inline-block;
    margin-left: 15px;
    padding: 10px 0px;
    font-size: 14px;
}

nav .main-nav li a
{
    color:#363A43;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav .main-nav a:hover
{
    color: #a9a9a9;
}

@media (max-width:991.98px) { 

    nav {display: none;}
}
/*End navbar*/
/*Start nav-right*/
.nav-right
{
    width: 250px;
    position: fixed;
    right:-1000px;
    z-index: 999;
    top:0;
    padding-right: 0;
}
.nav-right .links
{   
    height: 100vh;
    padding-top: 46px;
    background-color: var(--white-color);
    right:0;
    padding-right: 0;
}

.nav-right .links .fa-times
{
    right: 88%;
    top: -15px;
    position: relative;
    cursor: pointer;
}

.nav-right .links li
{
    border-bottom: 1px solid var(--border-color);
    padding:20px;
}

.nav-right .links li:hover
{
    background-color: var(--border-color);
}

.nav-right .links li a
{
    color: var(--black-color);
}

.nav-right .links li a i
{
    margin-left: 10px;
    font-size: 23px;
}

@media (min-width: 768px) 
{
    .nav-right .links {width: 330px;}
}

@media (min-width: 991.98px) 
{
    .nav-right {display: none;}
}

/*End nav-right*/

/*Start Section - one*/

.section-one .carousel-item
{
    position: relative;
}

.section-one .carousel-inner
{
    height: 100vh;
}

/*End Section - one*/

/*Start section-tow*/
.section-tow
{
    padding: 40px 0 2px;
}

.section-tow .row ~ div
{
    margin-top: 20px;
}

.section-tow  .img-me
{
    position: relative;
}

.section-tow  .img-me .overlay
{
    background-color: rgba(0,0,0,0.1);
}

.section-tow .row div:hover .overlay
{
    background-color: rgba(0,0,0,0);
}

.section-tow  .img-me img
{
    height: 100%;
}

@media (min-width: 768px)
{
  
    .section-tow  .img-me {height: 250px}
}

@media (min-width: 992px)
{
    .section-tow  .img-me {height: 500px;}
}

.section-tow a
{
    color: var(--black-color);
    display: block;
    padding: 20px 0;
    text-align: right;
    font-size: 14px;
    transition: all .2s ease-in-out;
}
.section-tow a:hover
{
    color: #a9a9a9;
}

/*End section-tow*/

/*Start section-three*/

.section-three
{
    padding: 40px 0;
    overflow: hidden;
}
.section-three .box1
{
    padding:90px 20px 0
}
.section-three .box1 h2
{
    color: #008BFF;
    font-size: 23px;
    margin-bottom: 20px;
}
.section-three .box1 p
{
    font-size: 13px;
    line-height: 1.9;
    color: #545454;
}
.section-three .box2 
{
    position: relative;
}
.section-three .box2 img
{
    width: 100%;
    height: 100%;
}

@media (max-width: 767px)
{
    .section-three .box1
    {
        padding:20px 15px
    }
}
/*End section-three*/

/*start Section - four*/

.section-four
{
    padding: 40px  0 130px;
}
.section-four h2
{
    text-align: right;
    color: #008BFF;
    font-size: 23px;
}

.section-four .box 
{
   margin-top: 30px;
   position: relative;
   cursor: pointer;
}

.section-four .box .img-me
{
   position: relative;
}

.section-four .box .img-me .overlay
{
  background-color: rgba(0,0,0,0.2);
}

.section-four .box:hover .overlay
{
  display: none;
}

.section-four .img-me img
{
    width: 100%;
    height: 100%;
}
.section-four .img-me .fa-heart
{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.section-four .show-button span
{
    color: #a9a9a9;
    font-family: revert;
    font-size: 17px;
}

.section-four .show-button 
{
    margin-top: 20px;
}

.section-four .show-button button
{
    background-color: #232F3E;
    border: 0;
    color:#FFF;
    padding: 10px;
    border-radius: 10px;
    margin-right: 55%;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 30%;
}

.section-four .show-button button i
{
    padding: 0;
    font-size: 15px;
    color:#FFF;
    margin-left: 5px;
}

.section-four .box .show-button button:hover
{
    background-color: #008BFF;
    color:#FFF
}

@media (max-width: 576px) { 

    .section-four .show-button button
    {
        width: 50%;
        margin-right: 33%
    }
}

@media (min-width: 768px)
{
    .section-four .box .img-me {height: 500px}
    .section-four .show-button button
    {
       margin-right: 46% ;
       width: 40% 
    }
}

@media (min-width: 992px)
{
    .section-four .box .img-me {height: 390px}
    .section-four .show-button button
    {
       margin-right: 33%;
       width: 48%
    }
}


/*End Section - four*/

/*Start secrion-five */

.secrion-five 
{
    padding: 30px 0;
    background-color: #E8EBEE;
}

.secrion-five .box1 h2
{
    margin: 25px 0;
    font-size: 25px;
}

.secrion-five .box2 p
{
    line-height: 1.8;
    font-size: 13px;
}

/*End secrion-five */

/*Start Section-six*/

.section-six
{
    padding:40px 0;
    background-color: #EDEDED;
}

.section-six h2
{
    margin-bottom: 30px;
    font-size: 25px;
}

.section-six h2 ~ a
{
    color:var(--black-color);
    font-size: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.section-six h2 ~ a:hover
{
   color: #B9BABC;
}

.section-six .abuot , .section-six .box
{
    margin-top: 30px;
}

.section-six .abuot p
{
    font-size: 12px;
    line-height: 1.9;
}

.section-six .abuot .links li a
{
    color:#008BFF
}

/*End Section - six*/

/*Start but-scroll*/

.but-scroll
{
    position: fixed;
    z-index: 99999;
    bottom: 40px;
    right: 20px;
}

.but-scroll i
{
    color:#008BFF;
    display: none;
    cursor: pointer;
    font-size: 30px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.but-scroll i:hover
{
    color: #a9a9a9;
}

/*End but-scroll*/

/*Start footer*/
footer
{
    padding: 10px 0;
    background-color: #DDDDDD;
}
footer  h5
{
    color:#008BFF;
    font-size: 13px;
    margin-top: 23px;
}
/*End footer*/

/*------------------------------End this is style page index ---------------------------------------------------*/

/*------------------------------Start this is style page register ---------------------------------------------------*/

/*Start boxs-regstier*/
.boxs-regstier
{
    padding: 30px 0;
}

.boxs-regstier .boxs .sign-up form
{
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border:1px solid #ddd
}

.boxs-regstier .boxs .sign-up form img
{
    width: 30%;
    height: 30%;
}

.boxs-regstier .boxs .sign-up form h2
{
    margin: 30spx 0 9px;
    font-size: 20px;
    font-weight: 700;
    color:#008BFF
}

.boxs-regstier .boxs .sign-up form h2 i
{
    margin-right: 10px;
    color: #a9a9a9;
}

.boxs-regstier .boxs .sign-up form input[type="email"]
,.boxs-regstier .boxs .sign-up form input[type="text"]
,.boxs-regstier .boxs .sign-up form input[type="password"]
{
    width: 100%;
    margin-top: 25px;
    height: 50px;
    font-size: 12px;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.boxs-regstier .boxs .sign-up form button[type="submit"]
,.boxs-regstier .boxs .sign-up form .button-sub
{
    margin: 30px 0 20px;
    padding: 14px;
    background-color: #232F3E;
    color: #FFF;
    font-size: 15px;
    border: 0;
    width: 100%;
    border-radius: 10px;
    outline: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.boxs-regstier .boxs .sign-up form button[type="submit"]:hover
,.boxs-regstier .boxs .sign-up form .button-sub:hover
{
    background-color: #008BFF;
}

.boxs-regstier .boxs .sign-up form .button-sub
{
    color:#FFF !important;
}

.boxs-regstier .boxs .sign-up a
{
    display: block;
    color:#a9a9a9;
    margin-bottom:15px;
    font-size: 13px;
}

.boxs-regstier .sign-up .my-radio
{
    margin-top: 37px;
}

.boxs-regstier .sign-up .my-radio input[type="radio"]:first-of-type
,.boxs-regstier  .sign-up .my-radio input[type="radio"]:last-of-type
{
    margin-left: 5px;
    cursor: pointer;
}

.boxs-regstier  .sign-up .my-radio label:first-of-type
{
    margin-left: 17px;
}
/*End boxs-regstier*/

/*------------------------------------------End this is style page register-----------------------------------------*/

/*------------------------------------------Start this is style products---------------------------------------*/

/*Start section-img*/

.section-img
{   
    background-image: url(../img/landing-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 350px;
   
}

/*End section-img*/

/*Start porducer*/

.porducer
{
    padding: 40px 0;
}
.porducer-me .box 
{
   margin-top: 30px;
   position: relative;
   cursor: pointer;
}

.porducer-me  .box .img-me
{
   position: relative;
}

.porducer-me  .box .img-me .overlay
{
  background-color: rgba(0,0,0,0.2);
}

.porducer-me  .box:hover .overlay
{
    display: none;
}

.porducer-me  .img-me img
{
    width: 100%;
    height: 100%;
}
.porducer-me  .img-me .fa-heart
{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:#FFF;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.porducer-me  .show-button span
{
    color: #a9a9a9;
    font-family: revert;
    font-size: 17px;
}

.porducer-me  .show-button 
{
    margin-top: 20px;
}

.porducer-me  .show-button button
{
    background-color: #232F3E;
    border: 0;
    color:#FFF;
    padding: 10px;
    margin-right: 55%;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 30%;
}

.porducer-me  .show-button button i
{
    padding: 0;
    font-size: 15px;
    color:#FFF;
    margin-left: 5px;
}

.porducer-me  .box .show-button button:hover
{
    background-color: #008BFF;
}

@media (max-width: 576px) { 

    .porducer-me  .show-button button
    {
        width: 50%;
        margin-right: 33%
    }
}

@media (min-width: 768px)
{
    .porducer-me .box .img-me {height: 500px}
    .porducer-me .show-button button
    {
       margin-right: 46% ;
       width: 40% 
    }
}

@media (min-width: 992px)
{
    .porducer-me .box .img-me {height: 420px}
    .porducer-me .show-button button
    {
       margin-right: 33%;
       width: 48%
    }
}

.but-num
{
    margin-top: 50px;
    
}

.but-num li
{
    display: inline-block;
    margin-left: 1%;
    cursor: pointer;
}

.but-num li.active
{
    color:#008BFF
}
/*End porducer*/

/*---------------------------End page producer ----------------------------------------------------------------*/

/*---------------------------Start page producet ----------------------------------------------------------------*/

/*Start view-img*/

.view-img
{
    padding: 40px 0;
}

.view-img .description 
{
    color:var(--black-color);
    padding-right: 30px;
}

.view-img .description h3
{
    font-size: 25px;
    margin: 30px 0 11px;
    color:#008BFF
}

.view-img .description h4
{
    margin-bottom: 12px;
    font-size: 18px;
    margin-top: 15px;
}

.view-img .description select
{
    width: 100%;
    margin: 6px 0;
    padding: 7px;
    border: 1px solid #ddd;
}
.view-img .description .but-add
{
    display: block;
    margin-top: 35px;
    width: 100%;
    border: 0;
    padding: 20px;
    color:#FFF;
    background-color: #232F3E;
    cursor: pointer;
    transition: all .2s ease-in-out;
    outline: 0;
}

.view-img .description .but-add:hover
{
    background-color: #008BFF;
}

.view-img .description .links-des ul
{
    padding-right: 0;
}

.view-img .description .links-des li
{
    display: inline-block;
    padding: 20px 0 5px;
    cursor: pointer;
    margin-left: 6%;
}

.view-img .description .links-des li.active
{
    border-bottom: 1px solid #008BFF;
}

.view-img .description  .boxs .box
{
    margin-top: 10px;
}

.view-img .description  .boxs .box p
{
    line-height: 1.6;
    font-size: 12px
}

.view-img .description  .boxs .box:not(:first-of-type)
{
    display: none;
}

/*End  view-img*/

/*Start view-pro*/
.view-pro
{
    padding:60px 0;
}

.view-pro h2
{
    margin-bottom: 10px;
    font-size: 25px;
    color:#008BFF
}

.view-pro .box 
{
   margin-top: 30px;
   position: relative;
   cursor: pointer;
}

.view-pro .box .img-me
{
   position: relative;
}

.view-pro .box .img-me .overlay
{
  background-color: rgba(0,0,0,0.2);
}

.view-pro .box:hover .overlay
{
    display: none;
}

.view-pro .img-me img
{
    width: 100%;
    height: 100%;
}
.view-pro .img-me .fa-heart
{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:#fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.view-pro .show-button span
{
    color: #a9a9a9;
    font-family: revert;
    font-size: 17px;
}

.view-pro .show-button 
{
    margin-top: 20px;
}

.view-pro .show-button button
{
    background-color: #232F3E;
    border: 0;
    color:#FFF;
    padding: 10px;
    margin-right: 55%;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 30%;
}

.view-pro .show-button button i
{
    padding: 0;
    font-size: 15px;
    color:#FFF;
    margin-left: 5px;
}

.view-pro .box .show-button button:hover
{
    background-color: #008BFF;
}

@media (max-width: 576px) { 

    .view-pro .show-button button
    {
        width: 50%;
        margin-right: 33%
    }
}

@media (min-width: 768px)
{
    .view-pro .box .img-me {height: 500px}
    .view-pro .show-button button
    {
       margin-right: 46% ;
       width: 40% 
    }
}

@media (min-width: 992px)
{
    .view-pro .box .img-me {height: 390px}
    .view-pro .show-button button
    {
       margin-right: 33%;
       width: 48%
    }
}

/*End view-pro*/
/*----------------------------------End this is  page producet --------------------------------------------------------------------------*/

/*----------------------------------Start this is page Subscription ---------------------------------------------------------------------*/

/*Start section-subscrip*/

.section-subscrip
{
    padding:60px 0;
}

.section-subscrip .box
{
    position: relative;
    background-color: #1A1C29;
    color:#FFF;
    margin-top: 30px;
    box-shadow: 0 4px 10px 0 #545454;
    border-radius: 20px;
}

.section-subscrip h2
{
    margin-bottom: 30px;
}

.section-subscrip h2 span
{
    color:#008BFF
}

.section-subscrip .box .head-bouquet
{
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 10px 0;
}

.section-subscrip .box .head-bouquet h3
{
    margin: 30px 0;
}

.section-subscrip .box .head-bouquet h3 i
{
    background-color: #fff;
    color:#363A43;
    border-radius: 50%;
    padding:15px;

}

.section-subscrip .box .head-bouquet p
{
    background-color: #B9BABC;
    padding: 10px 0;
    color: #232F3E;
}

.section-subscrip .scale
{
    transform: scale(1.1);
    background-color: #ddd !important;
}

.section-subscrip .box .content-bouquet h5
{
    font-size: 15px;
    margin: 20px 0;
    text-align: right;
}

.section-subscrip .box .content-bouquet h5 i
{
    margin-left: 10px;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    color:#1A1C29;
    background-color: #FFF;
    border-radius: 50%;
}

.section-subscrip .box .content-bouquet
{
    padding: 13px;
}

.section-subscrip .box .content-bouquet button
{
    margin: 20px 0;
    padding: 14px;
    background-color: #008BFF;
    color: #FFF;
    font-size: 14px;
    border: 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    outline: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section-subscrip .box .content-bouquet button i
{
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.section-subscrip .box .content-bouquet button:hover
{
    background-color: #FFF;
    color: #1A1C29;
}

/*End section-subscrip*/